@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    /* #FCFCFC */
    --foreground: 0 0% 20.4%;
    /* #343434 */
    --card: 0 0% 99%;
    /* #FCFCFC */
    --card-foreground: 0 0% 20.4%;
    /* #343434 */

    --popover: 0 0% 99%;
    /* #FCFCFC */
    --popover-foreground: 0 0% 20.4%;
    /* #343434 */

    --primary: 192 35.3% 27.3%;
    /* #2D545E */
    --primary-foreground: 0 0% 100%;
    /* White */

    --secondary: 189 14.1% 45.3%;
    /* #627E83 */
    --secondary-foreground: 0 0% 100%;
    /* White */

    --muted: 0 0% 85.1%;
    /* Light gray */
    --muted-foreground: 0 0% 60%;
    /* #999999 */

    --accent: 350 40.7% 54.3%;
    /* #BB5A68 */
    --accent-foreground: 0 0% 100%;
    /* White */

    --destructive: 349 64.4% 39%;
    /* #A4243B */
    --destructive-foreground: 0 0% 100%;
    /* White */

    --border: 0 0% 60%;
    /* #999999 */
    --input: 0 0% 90%;
    /* Light gray */
    --ring: 192 35.3% 27.3%;
    /* Same as primary */
    --radius: 1rem;
  }

  .dark {
    /* Dark Mode */
    --background: 0 0% 10%;
    /* Dark gray */
    --foreground: 0 0% 60%;
    /* #999999 */

    --card: 0 0% 10%;
    /* Dark gray */
    --card-foreground: 0 0% 60%;
    /* #999999 */

    --popover: 0 0% 10%;
    /* Dark gray */
    --popover-foreground: 0 0% 60%;
    /* #999999 */

    --primary: 192 35.3% 27.3%;
    /* #2D545E */
    --primary-foreground: 0 0% 100%;
    /* White */

    --secondary: 189 14.1% 25%;
    /* Darker teal */
    --secondary-foreground: 0 0% 100%;
    /* White */

    --muted: 0 0% 20%;
    /* #343434 */
    --muted-foreground: 0 0% 70%;
    /* Lighter gray */

    --accent: 349 64.4% 39%;
    /* #A4243B */
    --accent-foreground: 0 0% 100%;
    /* White */

    --destructive: 349 64.4% 39%;
    /* #A4243B */
    --destructive-foreground: 0 0% 100%;
    /* White */

    --border: 0 0% 30%;
    /* Dark gray */
    --input: 0 0% 15%;
    /* Very dark gray */
    --ring: 192 35.3% 27.3%;
    /* Same as primary */
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* Bold */
    font-size: 3.5rem;
    /* 56px */
  }

  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* Bold */
    font-size: 3rem;
    /* 48px */
  }

  h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* Regular */
    font-size: 2.5rem;
    /* 40px */
  }

  h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* Regular */
    font-size: 2rem;
    /* 32px */
  }

  h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* Regular */
    font-size: 1.5rem;
    /* 24px */
  }

  h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* regular */
    font-size: 1.25rem;
    /* 20px */
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* Regular */
    font-size: 1rem;
    /* 16px */
  }
}

@layer components {
  .button-primary {
    @apply flex justify-center items-center bg-primary-200 text-background-100 hover:bg-primary-100 py-1 px-4 rounded-lg;
  }

  .button-secondary {
    @apply bg-secondary-200 text-background-100 hover:bg-secondary-100 py-1 px-4 rounded-lg;
  }
}